<p> <%= @restaurant.name %> </p>
<p> <%= @restaurant.description %> </p>
<h4> <%= "#{@restaurant.name} Reviews" %> </h4>
<% @reatuarant.reviews.each do |review| %>
  <li> <%= review.throughts %> </li>
